@charset "utf-8";
.Nav{
	list-style-type:none;
	
	padding-left:0px;
	padding-right:0px;
	
	text-align:center;
}

.Nav li{
	float:left;
	width:100px;
	border:solid 1px black;
	margin-right:-1px;
}
.Nav a{
	text-decoration:none;
	color:red;
	display:block;
	
}

.Nav li:hover{
	background-color:beige;
	position:relative;
}
ul.submenu{
	display:none;
	list-style-type:none;
	padding-left:0px;
	padding-right:0px;
	z-index:1;
}
li:hover .submenu {
	display:block;
	
	position:relative;
	left:0px;
	top:0px;
	width:75px;
	
}