*{
	margin:0;
	padding:0;
}
body{
	font-size:100%;
	font-family:Arial;
	background:url("../images/background_black.jpg") repeat ;
}
img{
	max-width:100%;
	/* align: center;   */
}
/* Bottom Menu */
.bottom-menu{
	font-size:1em;
	bottom:0;
		position:fixed;
	width:100%;
}

.bottom-menu ul a li {
	color:white;
	text-decoration:none;	
	text-align:center;
	float:left;
	list=style:none;
	width:16.8%;
	padding:1.6%;
	height:100%;
	background-color:black;
	opacity:0.5;
	border-bottom: 2px solid black;
	

}
.bottom-menu ul a li.selected {
	opacity:1;
	border-bottom: 2px solid #cc0000;
}
.bottom-menu ul a li img {
	max-height:1.6em;
	padding-top:0.15em;
	
}
#titanic{
	float:none;
	bottom:0;

}