<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
	<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
	<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
	<!-- <script src="../node_modules/vue/dist/vue.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
	<link rel="stylesheet" href="style.css"></link>
	
</head>

<body onload="initial();">
	
	<template id="my-template">
		<table>
			<tr v-for="obj in items.split(',')">
				<td style="color:#01d ; border:1px solid #A0c;padding:0px 10px  ;">
					{{obj}}</td>
			</tr>
		</table>
	</template>
	
	<h1>Vue.js</h1>
	<div id="msg" >
		<div v-my-directive="message">ok.</div>
		<input type="text" v-model="val">
		<input type="button" v-on:click="myfunc();" value="click">
		<my-component></my-component>
		<my-component1  message="您好！"></my-component1>
		<my-component2 items="one,two,three"></my-component2>
		<ul>
			<li v-for="obj in data">
				{{obj}}
			</li>
		</ul>
		<hr>
		<select size="5" multiple v-model="data">
			<option>Windows</option>
			<option>macOS</option>
			<option>Linux</option>
			<option>Android</option>
			<option>iOS</option>
		</select>

		<p v-if="flg">操作訊息的顯示狀態。</p>

		<p  v-else="flg" v-bind:style="{'color':selF, 'background':selB}" v-on:click="change();">樣式操作範例。
			<br>
		<select v-model="selF">
				<option>white</option>
				<option>black</option>
				<option>red</option>
				<option>blue</option>
				<option>yellow</option>
				<option>orange</option>
			</select>
			<select v-model="selB">
				<option>white</option>
				<option>black</option>
				<option>red</option>
				<option>blue</option>
				<option>green</option>
			</select>
		</p>
		
		
		<div><input type="checkbox" id="ck" v-model="flg">
			<label for="ck">顯示</label></div>

	</div>
</body>

</html>

